{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "node": "8"
        }
      }
    ],
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }]
  ],
  "plugins": ["transform-flow-strip-types"]
}
