{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "node": "8"
        },
        "exclude": ["transform-es2015-typeof-symbol"]
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-flow-strip-types"]
}
